@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/* --------Navbar css------------ */
.openmenu{
    display: none;
}


nav{
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 20px 40px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
 
nav div:first-child a{
    color:tomato;
}
nav div:first-child a span{
    color:black;
}
nav div:last-child {
display: flex;
gap: 20px;
}
nav a{
    color: black;
}
nav a:hover{
    color: red;
}
span{
    color: sandybrown;
}

/* -----------Home------------ */
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 0 13% 0 7%;
}
.home div:first-child p:first-child{
    font-size: 28px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-weight: 900;
}
.home div:first-child p:nth-child(2){
    font-weight: lighter;
    color: gray;
}



 button{
    background-color: tomato;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 18px;
    padding:10px 20px;
    font-weight: 100;
    cursor: pointer;
    margin-top: 40px;
}
button:hover{
    background-color: green;
}

/* -----------about------------- */

.about h4{
    font-size: 100;
    font-size: 25px;
    margin-bottom: 10px;
}
/* .about p{
    height: 110px;
    overflow-y: hidden;
} */

/* -----My Recipie Section */

.myrecipie{
  text-align: center;
  margin: 40px 0;
}
.myrecipie h4{
    font-size: 22px;
    font-family: sans-serif;
  }
  .myrecipie p{
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(109, 106, 106);
  }

  /* ------Food Type---------- */
  .food-type-container{
    width: 90%;
    padding: 30px 20px;
    margin: auto;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2,1fr);
  }
  .food-type{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 50px;
  }
  .food-type h3{
   margin-top: 20px;
   margin-bottom: 20px;
  }
  .social-media{
    width: 87%;  
    margin: 20px auto 20px auto;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 30px;
       display: flex;
  }
  .social-media div p:first-child{
       font-size: 20px;
       font-weight: 600;
  }
  .social-media div p:last-child{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(118, 117, 117);
}

/* -----------food-section----------- */
.popular-food  h3{
   text-align: center;
   font-size: 20px;
   padding: 30px 0;
}
.all-foods{
    width: 95%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.single-product{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 3px solid black;
    padding: 15px;
  border-radius: 20px;
}
.single-product img{
width: 100%;
height: 30vh;
border-radius: 10px;
}
.single-product button{
    padding: 5px 20px;
    margin: 0;
    font-size: 15px;
}

/* --------footer------ */
.footer{
    text-align: center;
    color: white;
    display: grid;
    gap: 20px;
    background-color: black;
    padding: 20px;
}

@media screen and (max-width:891px) {

    .home{
    
        padding: 0 2% 0 7%;
        margin-bottom: 0;
    }
    .home div:last-child{
        width: 50%;
     }
     .home img{
        width: 100%;
     }
     .all-foods{
        grid-template-columns: repeat(3,1fr);
     }
}

@media screen and (max-width:768px) {
   .home{
    padding: 0 2% 0 2%;
   }
    
    .home div:last-child{
        width: 40%;
    }
    .about img{
        width: 100%;
    }
    .home div p:last-child{
        height: 60px;
        overflow-y: hidden;
    }
    .about{
        width: 100%;
    }
    
    .about div:first-child{
        width: 45%;
        height: 30%;
    }
    .about div:last-child{
        width: 55%;
        padding-left: 40px;
    }
    .about{
        justify-content: center;
       }
       .about div:first-child {
        margin-bottom: -30px;
        width: 100%;
        height: 100%;
        margin: auto;
       }
     .food-type-container{
        width: 100%;
        gap: 20px;
     }
      .food-type{
        width: 100%;
        margin: auto;
        padding: 20px;
      }
      .food-type p{
          font-size: 14px;
          height: 50px;
          overflow-y: hidden;
      }
      .social-media{
        width: 95%;            
      }
      .social-media div p:last-child{
        font-size: 15px;
      }
      .all-foods{
        grid-template-columns: repeat(2,1fr);
     }
}

@media screen and (max-width:570px) {
    .home div:first-child  p:first-child{
     font-size: 20px;
    }
    .home div:first-child  p{
        font-size: 12px;
       }

     
       .about div:last-child  p{
        font-size: 12px;
       }
    .about div:first-child img{
        width: 100%;
        height: 90%;
    }
    .about{
        justify-content: center;
       }
       .about div:first-child {
        margin-bottom: -30px;
        width: 100%;
        height: 100%;
        margin: auto;
       }
       .food-type-container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
      }
      .food-type{
        width: 90%;
        margin: auto;
        padding: 10px;
      }
      .food-type p{
          font-size: 14px;
          height: 50px;
          overflow-y: hidden;
      }

   
   .closenav{
    display: none;
   }
   .openmenu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 0 30px;
    position: fixed;
}
.openmenu .threeline div{
    width: 30px;
    border: 1px solid black;
     }
     .openmenu .threeline{
       display: grid;
       gap: 5px;
       cursor: pointer;
       width: auto;
       z-index: 1;
       color: black;
       top: 20px;
       left: 20px;
       padding: 30px;
     }
    .openmenu span{
       width: 0;
       height: 0;
       overflow: hidden;
     }
     .openmenu .threeline:hover span{
      display: grid;
      width: 50%;
      height: auto;
      gap: 30px;
      background-color: aqua; 
      position: fixed;
      z-index: -1;
      left: 0;
      top: 0;
      padding: 80px 50px 20px 100px;
      transition: 0.5s ease-in-out;
   }
   .openmenu a:hover{
    color: tomato;
   }
.threeline:hover{
    background-color: aqua;
}



   }
 @media screen and (max-width:461px) {
    .home{
        display: grid;
    }
    .home div:last-child {
        margin: auto;
        width: 100%;
    }
    .home img {
        width: 100%;
    }
    .home div:first-child  p:first-child{
     font-size: 25px;
    }
    .home div:first-child  p{
        font-size: 15px;
       }
       .about{
        justify-content: center;
       }
       .about div:first-child {
        margin-bottom: -30px;
        width: 100%;
        height: 100%;
        margin: auto;
       }
    .all-foods{
        grid-template-columns: repeat(1,1fr);
     }
    
 }
 @media screen and (max-width:400px) {
   
       .food-type-container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
      }
      .food-type{
        width: 90%;
        margin: auto;
        padding: 10px;
      }
      .food-type p{
          font-size: 14px;
          height: 50px;
          overflow-y: hidden;
      }
      .social-media div p:first-child,:last-child{
        font-size: 15px;
      }
      .social-media{
        padding: 0;
      }
 }